/*-----ABOUT-US-SECTION-----*/
.about-us, .about-work{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin: 41px 0;
    gap: 50px;
}

/*-----ABOUT-IMG-----*/
.about-us span{
    display: flex; 
    flex: 4.5;
  }

  .about-us img {
      width: 100%;
  }

  /*-----ABOUT-TEXT-----*/
.about-text, .about-work-text{
    flex: 3.5;
    color: var(--white-color);
    padding: 25px 29px;
    border-radius: 20px;
    height: 350px;
}

.about-work-text{
    background-color: var(--blue-color);
}

.about-text{
    background-color: var(--purple-color);
}

.about-text p, .about-work-text p {
    margin-top: 12px;
}

.about-usps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    flex: 4.5;
}