.assignments-section {
    display: flex;
    gap: 10px;
    margin: 50px 0;
}

.filter {
    flex: 2;
    position: relative;
}

.reset-filter{
    position: absolute;
    top: 25px;
    right: 20px;
}

.filtermenu {
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 20px;
    width: 281px;
    padding: 20px;
}

.assignments-div {
    display: flex;
    padding: 0 14.5px;
    flex: 5;
    flex-wrap: wrap;
    gap: 14px;
}

.no-assignments{
    margin: 20px 0 0 20px;
}
  