.assignments-section {
    display: flex;
    gap: 10px;
    margin: 50px 0;
}

.filter {
    flex: 2;
}

.filtermenu {
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 20px;
    width: 281px;
    padding: 20px;
}

.assignments-div {
    display: flex;
    padding: 0 14.5px;
    flex: 5;
    flex-wrap: wrap;
    gap: 14px;
}

details {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 0;
    margin: 5px 0;

}

details li {
    padding: 2px 0;
}

summary::after {
    content: "";
    background: url(../../assets/caret-down-bold.svg) no-repeat;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-left: 0.5em;
    transition: transform 0.2s ease;
    position: absolute;
    top: 0;
    right: 0;
}

details[open] summary::after {
    transform: rotate(180deg);
}

summary {
    list-style: none;
    position: relative;
}

summary::-webkit-details-marker {
    display: none;
}

.filter-item {
    cursor: pointer;
  }
  
  .filter-item.selected {
    font-weight: 600;
    color: var(--black-color);
  }
  