/*-----INTRODUCTION-SECTION-----*/
.introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    margin: 50px 0;
    gap: 121px;
}

/*-----INTRODUCTION-TEKST-----*/
.intro-tekst{
    height: 300px;
    flex: 2;
}

.intro-tekst h2{
    margin-bottom: 15px;
}
/*-----INTRODUCTION-USPS-----*/
.usps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    flex: 3;
}

/*-----ASSIGNMENTS-SECTION-----*/
.assignments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin: 50px 0;
}