/*-----CSS RESET-----*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----ROOT-----*/
:root {
  --purple-color: #811788;
  --blue-color: #00A0C6;
  --red-color: #FF0000;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #0000001A;
}

/*-----MAIN-----*/

main {
  margin: 0 242px;
}

/*-----FONTS-----*/
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: 'Prozak', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: lighter;

}

h1 {
  font-size: 96px;
  
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 26px;
}

h4, button {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

p {
  font-family: 'TheSans', sans-serif;
  font-size: 16px;
}

/*-----LINKS-----*/
a {
  text-decoration: none;
  color: var(--black-color);
}

/*-----LISTS-----*/
ul {
  list-style-type: none;
}

/*-----BUTTON-----*/
button {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}