/* =========================
   PROZAK
   ========================= */

   @font-face {
    font-family: "Prozak";
    src: url("/src/assets/fonts/Prozak\ light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Prozak";
    src: url("/src/assets/fonts/Prozak_.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Prozak";
    src: url("/src/assets/fonts/Prozak\ bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  /* =========================
     THESANSs
     ========================= */
  
  @font-face {
    font-family: "TheSans";
    src: url("/src/assets/fonts/TheSans-2_ExtraLight_TRIAL.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TheSans";
    src: url("/src/assets/fonts/TheSans-3_Light_TRIAL.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "TheSans";
    src: url("/src/assets/fonts/TheSans-4_SemiLight_TRIAL.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

/*-----CSS RESET-----*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----ROOT-----*/
:root {
  --purple-color: #811788;
  --blue-color: #00A0C6;
  --red-color: #FF0000;
  --white-color: #fff;
  --black-color: #000;
  --dark-grey-color: #00000080;
  --grey-color: #0000001A;
}

.root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.purple{
  background-color: var(--purple-color);
}
.blue{
  background-color: var(--blue-color);
}
.red{
  background-color: var(--red-color);
}
.white{
  background-color: var(--white-color);
}
.black{
  background-color: var(--black-color);
}
.grey{
  background-color: var(--grey-color);
}

/*-----BODY-----*/
body{
  height: 100vh;
}

/*-----MAIN-----*/
main {
  width: 954px;
  flex: 1;
  align-self: center;
}

/*-----FONTS-----*/
h1,
h2,
h3,
h4,
h5,
h6,
a,
button, 
summary,
li {
  font-family: "Prozak", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 400;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 26px;
}

h4, button, summary, .alink {
  font-size: 20px;
}

h5, li {
  font-size: 15px;
}

p, input, label, textarea, .paragraph li {
  font-family: "TheSans", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.06em;
  text-transform: lowercase;
}

/*-----LINKS-----*/
a {
  text-decoration: none;
  color: var(--black-color);
}

/*-----LISTS-----*/
ul {
  list-style-type: none;
}

footer li, .afooter {
  font-family: "TheSans", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
}

